/* CSS Document */
.main{ clear:both; padding:0 2px;  width:998px;}
.main .maincontent{border:#c8c7c3 1px solid; background:#fff; padding:0px; position:relative;}
.mainbottom{background:url(../../images/special/maincontent_bg.png) 0 bottom repeat-x; height:4px; font-size:0; margin:0 5px 15px 5px;}

.allcategories{ padding-left:0; margin-left:4px;}

.guidewrapper{ position:relative; height:895px; }
.guidewrapper .intro{ position:absolute;  z-index:2;top:22px; left:28px;   width:519px; height:263px;}
.guidewrapper .intro h1{ text-indent:-9999px; height:0; line-height:0;}
.guidewrapper div.desc{ padding-top:53px; font-size:18px; color:#000; font-style:italic; line-height:21px; width:550px;}
.guidewrapper div.desc a{ color:#9D1819; font-size:18px;}
.guidewrapper .content a:link,
.guidewrapper .content a:active,
.guidewrapper .content a:visited,
.guidewrapper .content a:hover{ text-decoration:none;}
.guidewrapper a h3{ font-size:18px; color:#000; padding:5px 0; text-decoration:none; line-height:110%;}
.guidewrapper p.desc{ font-size:12px; color:#040404;}
.guidewrapper p.desc a{color:#040404; font-size:12px; font-weight:bold; text-decoration:none}
.guidewrapper .imgbox{ z-index:1; position:absolute;}
.guidewrapper .content{ z-index:3; position:absolute; padding:5px 8px;}
.guidewrapper .contentbg{ z-index:2; position:absolute; background:#fff; filter:alpha(opacity=50);  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);  -moz-opacity:0.5; opacity:0.5; padding:5px 8px;}
.guidewrapper .imgbox a{ outline:none}
.guidewrapper .imgbox img{ display: block}
.guide1 .imgbox{top:20px; left:700px;}
.guide1 .content{  top:70px; left:550px; width:180px; height:115px;}
.guide1 .contentbg{ top:70px; left:550px; width:180px;  height:115px;}
.guide2 .imgbox{top:280px; left:130px;}
.guide2 .content{  top:510px; left:280px; width:244px; height:115px; }
.guide2 .contentbg{ top:510px; left:280px; width:244px;  height:115px;}
.guide3 .imgbox{top:305px; left:683px;}
.guide3 .content{  top:305px; left:545px; width:175px; height:115px; }
.guide3 .contentbg{ top:305px; left:545px; width:175px;  height:115px;}
.guide4 .imgbox{top:600px; left:20px;}
.guide4 .content{  top:780px; left:160px; width:240px;  height:115px;}
.guide4 .contentbg{ top:780px; left:160px; width:240px;  height:105px;}
.guide5 .imgbox{top:595px; left:395px;}
.guide5 .content{ top:543px; left:548px; width:200px; height:115px; }
.guide5 .contentbg{ top:543px; left:548px; width:200px;  height:115px;}
.guide6 .imgbox{top:575px; left:770px;}
.guide6 .content{  top:790px; left:750px; width:240px; height:51px;}
.guide6 .contentbg{ top:790px; left:750px; width:240px;  height:51px;}

.baseinfo {position:absolute; top:3px; left:10px; font-size:1.2em; font-style:italic; color:#666666; }